# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most
# precedence.

# More info:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# All PRs to default branch require one NRL and one CIRA review
# CODEOWNERS file can only require a single team, so requiring NRL here,
# implying the other of the 2 required reviews should be from a CIRA member.
*       @NRLMMD-GEOIPS/nrl-review
