accessible-pygments==0.0.5
affine==2.4.0
akima86==0.1.1
alabaster==0.7.16
alphashape==1.3.1
annotated-types==0.7.0
anyio==4.12.1
archer @ git+https://github.com/mindyls/archer.git@1380d3e1d24f5a869c09031df4a01aaca5d0d68f
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
astroid==4.0.4
asttokens==3.0.1
async-lru==2.2.0
attrs==25.4.0
babel==2.18.0
bandit==1.9.4
beautifulsoup4==4.14.3
black==26.3.0
bleach==6.3.0
brassy==0.4.1.post1
Cartopy==0.25.0
certifi==2026.2.25
cffi==2.0.0
cftime==1.6.5
charset-normalizer==3.4.5
click==8.3.1
click-log==0.4.0
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.3
configobj==5.0.9
contourpy==1.3.3
coverage==7.13.4
cycler==0.12.1
dask==2026.1.2
dateparser==1.3.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.1
doc8==2.0.0
docutils==0.20.1
donfig==0.8.1.post1
dunamai==1.26.0
ephem==4.2.1
eval_type_backport==0.3.1
execnet==2.1.2
executing==2.2.1
fastjsonschema==2.21.2
flake8==7.3.0
flake8-docstrings==1.7.0
flake8-rst==0.8.0
flake8-rst-docstrings==0.4.0
flexcache==0.3
flexparser==0.4
fonttools==4.61.1
fqdn==1.5.1
fsspec==2026.2.0
google-crc32c==1.8.0
h11==0.16.0
h5py==3.16.0
hdf5plugin==6.0.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageIO==2.37.2
imagesize==2.0.0
importlib_metadata==8.7.1
iniconfig==2.3.0
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isodate==0.7.2
isoduration==20.11.0
isort==8.0.1
jedi==0.19.2
Jinja2==3.1.6
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
lark==1.3.1
lazy-loader==0.5
locket==1.0.0
m2r2==0.3.4
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mccabe==0.7.0
mdurl==0.1.2
MetPy==1.7.1
mistune==0.8.4
morecantile==7.0.3
mypy_extensions==1.1.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.7.4
networkx==3.6.1
notebook==7.5.4
notebook_shim==0.2.4
numcodecs==0.16.5
numexpr==2.14.1
overrides==7.7.0
pandas==3.0.1
pandocfilters==1.5.1
parso==0.8.6
partd==1.4.2
pathlib_abc==0.5.2
pathspec==1.0.4
pexpect==4.9.0
pillow==12.1.1
pinkrst==0.0.1.post2
Pint==0.25.2
pixelmatch==0.4.0
platformdirs==4.9.4
pluggy==1.6.0
poetry-dynamic-versioning==1.10.0
pooch==1.9.0
prettier==0.0.7
prometheus_client==0.24.1
prompt_toolkit==3.0.52
proxy_vis @ git+https://github.com/galina-cira/proxyvis@6a936c9adae1ad47ed0b8d1a392cb7cd194123c2
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyaml_env==1.2.2
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydata-sphinx-theme==0.16.1
pydocstyle==6.3.0
pyflakes==3.4.0
pygit2==1.19.1
Pygments==2.19.2
pygrib==2.1.8
pyhdf==0.11.6
pykdtree==1.4.3
pylint==4.0.5
pyorbital==1.12.1
pyparsing==3.3.2
pyproj==3.7.2
pyPublicDecompWT==2.8.1.6
pyresample==1.35.0
pyshp==3.0.3
pysolar==0.13
pytest==9.0.2
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
pytokens==0.4.1
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==27.1.0
rasterio==1.4.4
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
restructuredtext_lint==2.0.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.3
rich-argparse==1.7.2
rio-cogeo==7.0.1
rpds-py==0.30.0
rtree==1.4.1
satpy==0.60.0
scikit-image==0.26.0
scipy==1.17.1
Send2Trash==2.1.0
shapely==2.1.2
six==1.17.0
snowballstemmer==3.0.1
soupsieve==2.8.3
Sphinx==7.1.2
sphinx-argparse==0.5.2
sphinx_design==0.7.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-autoprogram==0.1.9
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==2.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
stevedore==5.7.0
tabulate==0.10.0
terminado==0.18.1
tifffile==2026.3.3
tinycss2==1.4.0
tomlkit==0.14.0
toolz==1.1.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
trimesh==4.11.3
trollimage==1.28.0
trollsift==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
universal_pathlib==0.3.10
uri-template==1.3.0
urllib3==2.6.3
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
widgetsnbextension==4.0.15
xarray==2026.2.0
zarr==3.1.5
zipp==3.23.0
