name: Release note update
defaults:
  run:
    shell: bash

env:
  COMMIT_INTO: remotes/origin/main

on:
  # Triggers the workflow when pull request created and updated
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches:
      - main
  # Allows run of this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  release_v_change_detection:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout geoips repo default branch
        uses: actions/checkout@v3 # v3 is the latest for checkout
        with:
          fetch-depth: 0
          repository: ${{ vars.ORGANIZATION }}/geoips
          ref: ${{ vars.DEFAULT_BRANCH }}
          token: ${{ secrets.GEOIPS_TOKEN }}
          path: geoips_default_branch
      - name: Checkout current repo default branch
        uses: actions/checkout@v3 # v3 is the latest for checkout
        with:
          fetch-depth: 0
          path: geoips_plugin_repo
      - name: Detect new and modified release files
        run: |
          echo "cat $PWD/geoips_default_branch/update_this_release_note"
          ls -l $PWD/geoips_default_branch/update_this_release_note
          current_release_note=`cat $PWD/geoips_default_branch/update_this_release_note`
          echo "Current release note: $current_release_note"
          ret=$(git diff --name-only --diff-filter=AM \
              ${COMMIT_INTO} -- docs/source/releases/v*.rst)
          if [[ "${ret}" != *"$current_release_note"* ]]; then
              echo "No release note changes detected"
              echo "Please enter change logs in docs/source/releases"
              exit 1
          fi
